doctype html
include @/@loadingio/bootstrap.ext/index.pug
include @static/assets/lib/ldview/dev/index.pug
html
  head
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
  body
    .w-1024.rwd.mx-auto.typeset.heading-contrast.my-4
      h3 Recursive Views Test
      div(ld-scope,ld="template")
        .px-4
          div(ld="name")
          div: div(ld-each="item")
      div(ld="root")
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/ldview/dev/index.js")
    script(type="module"): include:lsc index.ls
