doctype html
html
  include /../../static/assets/ldui/pug/ldui.pug
  include /../../static/assets/ldview/ldview.pug
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/ldui/ldui.min.css")
  body
    div(ld="global") global
    +scope("local")(ld="local")
      div(ld-each="loop") loop

    +script("/assets/ldui/ldui.min.js")
    +script("/assets/ldview/ldview.min.js")
    +script("/js/draft.js")
