extends /base.pug
block head
  style(type="text/css"): include:stylus index.styl
block body
  .w-1024.rwd.mx-auto.typeset.heading-contrast.my-4
    h1 ldview
    .text-muted
      span ldview is a library for simple DOM rendering and event handling. 
      span Following are links to each test cases:
    - var list = ["duplicate", "long", "recurse", "exception", "init", "nested-ld-each","scope"];
    .d-flex.g-2: each name in list
      a(href=`${name}`)= name
    hr
    +scope("ldview")
      .d-flex.justify-content-between.flex-wrap(ld="list")
        .item.rounded.border.shadow-sm.my-4.px-4.py-2(ld-each="item")
          .thumb(ld="thumb")
          .title(ld="title")
          .desc(ld="description")
          .text-muted.text-sm(ld="date")
block script
  script(type="module"): include:lsc index.ls
