doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @static/assets/lib/ldview/dev/index.pug
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"}
    ])
    style(type="text/css"): include:stylus index.styl
  body
    .w-1024.rwd.mx-auto.typeset.heading-contrast.my-4
      h1 ldView
      .text-muted ldview is a library for simple DOM rendering and event handling. following are links to each test cases:
      .d-flex.g-2: each name in ["duplicate", "long", "recurse", "exception", "init", "nested-ld-each","scope"]
        a(href=`${name}`)= name
      hr
      +scope("ldview")
        .d-flex.justify-content-between.flex-wrap(ld="list")
          .item.rounded.border.shadow-sm.my-4.px-4.py-2(ld-each="item")
            .thumb(ld="thumb")
            .title(ld="title")
            .desc(ld="description")
            .text-muted.text-sm(ld="date")
    +script([ {name: "ldview", version: "dev"} ])
    script(type="module"): include:lsc index.ls
