doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
include /../../static/assets/lib/ldview/ldview.pug
html
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    style(type="text/css"): :stylus
      .item
        width: 30%
      .item .title
        font-size: 2em
        font-weight: 700
       
  body
    .w-1024.rwd.mx-auto.typeset.heading-contrast.my-4
      h1 ldView
      .text-muted ldView is a library for simple DOM rendering and event handling.
      hr
      +scope("ldview")
        .d-flex.justify-content-between.flex-wrap(ld="list")
          .item.rounded.border.shadow-sm.my-4.px-4.py-2(ld-each="item")
            .thumb(ld="thumb")
            .title(ld="title")
            .desc(ld="description")
            .text-muted.text-sm(ld="date")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("/assets/lib/ldview/ldview.min.js")
    +script("/js/index.js")
