extends /base.pug
block head
  style(type="text/css"): include:stylus index.styl
block body
  .w-1024.rwd.mx-auto.typeset.heading-contrast.my-4
    .d-none(ld-scope): div(template): .card.mb-4.shadow-sm: .card-body: .grid
      .mr-4.text-nowrap #[b name]#[div(ld="name")]
      .mr-4.text-nowrap #[b score]#[div(ld="score")]

    h3 View Scope Test
    hr

    h5 Global View
    p name and score are filled by global handler.
    .card.mb-4.shadow-sm: .card-body: .grid
      .mr-4 #[b name]#[div(ld="name")]
      .mr-4 #[b score]#[div(ld="score")]

    .py-4: .row
      .col-md
        h5 Unscoped Local View
        p unscoped local view, name filled by local handler but score filled by global handler.
        .card.mb-4.shadow-sm: .card-body(ld="local-view"): .grid
          .mr-4 #[b name]#[div(ld="name")]
          .mr-4 #[b score]#[div(ld="score")]

      .col-md
        h5 Scoped Local View
        p scoped local view, name and score ( which isn't implemented ) filled by local handler.
        .card.mb-4.shadow-sm: +scope().card-body(ld="local-view"): .grid
          .mr-4 #[b name]#[div(ld="name")]
          .mr-4 #[b score]#[div(ld="score")]
    .row
      .col-md
        h5 Template Local View
        p template local view, html from template thus name / score not visible by global handler.
        div(ld="template-view")
      .col-md
        h5 View with Nested Ctx
        p a local view with ctx accessor function return `child` object from parent ctx
        div(ld="view-with-nested-ctx")

    h5 List View
    p list views by default are scoped so name and score are filled by local handler.
    .mb-4.shadow-sm(style="display:grid;grid-template-columns:1fr 1fr")
      .grid.border.p-3(ld-each="list")
        .mr-4 #[b name]#[div(ld="name")]
        .mr-4 #[b score]#[div(ld="score")]

block script
  +script([
    {name: "@loadingio/ldquery"}
  ])
  script(type="module"): include:lsc index.ls
