extends /base.pug
block head
  style(type="text/css"): include:stylus index.styl
block body
  .w-1024.rwd.mx-auto.typeset.heading-contrast.my-4
    a(href="/") &laquo; back
    h3.m-0 test: long list
    p handle very long list with @loadingio/vscroll. try scrolling the below list
    +scope("ldview")
      .d-flex.justify-content-between.flex-wrap.shadow-sm.p-4.border(
      ld="list",style="overflow-y:scroll;height:300px")
        .item.rounded.my-4.px-4.py-2(ld-each="item")
          .thumb(ld="thumb")
          .title(ld="title")
          .desc(ld="description")
          .text-muted.text-sm(ld="date")
  +script([
    {name: "@loadingio/vscroll"}
  ])
block script
  script(type="module"): include:lsc index.ls
