extends /base.pug

block body
  .p-5
    h3 test: duplicated keys in list items
    p Below 2 lists are updated, object list and string list.
    p In object list, following entries are added by order:
    ol
      li initially: {key: 1, name: A}, {key: 1, name: B} with dup key 1. Only one of them (e.g., B) should be kept.
      li then, list is updated to {key: 1, name: A}. There should be only one item A.
      li then, list is updated to 3 items A, B, C with the same key 1. Still, Only one should be kept.
    p In string list:
    ol
      li initially <[A A]> is used. 2 items should be kept.
      li then, list is updated to <[A]>. There should be only one item.
      li then, <[A A A]> is used, which results in 3 items.
    hr
    .d-flex.g-4.flex-wrap
      .flex-grow-1
        .mb-2.font-weight-bold click to toggle different steps.
        .btn-group
          .btn.btn-outline-secondary(ld="toggle",data-step="1") Step 1
          .btn.btn-outline-secondary(ld="toggle",data-step="2") Step 2
          .btn.btn-outline-secondary(ld="toggle",data-step="3") Step 3
      .flex-grow-1
        .mb-2.font-weight-bold object list
        .d-flex.g-4.flex-column
          div(ld-each="item")
            .btn-group
              .btn.btn-outline-secondary Key: #[span(ld="key")]
              .btn.btn-outline-secondary Name: #[span(ld="name")]
      .flex-grow-1
        .mb-2.font-weight-bold string list
        .d-flex.g-2: .rounded.px-3.py-2.border.shadow-sm(ld-each="str")

block script
  script(type="module"): include:lsc index.ls
