//- module
- if(!ctrl.foot) { ctrl.foot = {shown: true}; }
mixin foot
  .foot: .inner
    .row
      .col-sm-4
        h2 loading.io
      .col-sm-8
    .row
      .col-sm-4
        div Github
        div FAQ
        div Privacy Policy
        div Term of Use
        div Payment / Refund
        div Contact Us
        div About Us
      .col-sm-8
        div loading.io is brought to you by PlotDB Ltd. #[img(src="/img/plotdb-sm-logo.svg",style="height:18px;vertical-align:-3px")] / 見聞科技有限公司 VAT No. 52518929
        div #[i.mr-2.i-location] 2f, Ln. 116, Jiang-min Rd., Beitou Sect., Taipei, Taiwan / 11278
        div #[i.mr-2.i-mail] Customer Service: contact@loading.io
        div #[i.mr-2.i-phone] +886-903019175
        .mt-2
          a.icon: i.i-fb
          a.icon: i.i-twt

